{% extends "/base/base.html" %}
{% block breadcrumb %}
服务器管理
{% endblock %}

{% block main %}
<div class="col-sm-12">
{% if role == "admin" %}
<p><a href="/serveradd" class='btn btn-sm btn-primary'>添加服务器</a></p>
{% endif %}
<table class="table table-striped table-bordered table-hover " id="editable">
<thead>
    <tr>
		<th class="text-center">编号</th>
		<th class="text-center">机房名</th>
		<th class="text-center">机柜ID</th>
		<th class="text-center">主机名</th>
        <th class="text-center">IP地址</th>
        <th class="text-center">机器型号</th>
		<th class="text-center">CPU数量</th>
		<th class="text-center">内存</th>
		<th class="text-center">磁盘总量</th>
        <th class="text-center">虚拟主机</th>
        <th class="text-center">操作</th>
    </tr>
</thead>
<tbody>

   {% if servers %}
   {% for server in servers %}
        <tr class="gradeX">
                <td class="text-center">{{server.id}}</td>
                <td class="text-center">{{server.idc_name}}</td>
                <td class="text-center">{{server.cabinet_id}}</td>
                <td class="text-center">{{server.hostname}}</td>
                <td class="text-center">{{server.ip_address}}</td>
                <td class="text-center">{{server.model}}</td>
			    <td class="text-center">{{server.cpu_num}}</td>
			    <td class="text-center">{{server.memory}}</td>
			    <td class="text-center">{{server.total_disk}}</td>
			    <td class="text-center">{{server.isVirtual}}</td>
                <td class="text-center">
                    <button data-id="{{server.id}}" class="btn btn-xs btn-info update">编辑</button>
                    <button data-id="{{server.id}}" class="btn btn-xs btn-danger del ">删除</button>
					<button data-id="{{server.id}}" class="btn btn-xs btn-info detail ">详情</button>
                </td>
            </td>
         </tr>
    {% endfor %}
    {% endif %}
</tbody>
</table>

</div> <!--col-sm-12-->
<div class="modal fade" id='updateModel'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title">更新</h4>
      </div>
      <div class="modal-body">
      	<form method="post" id="updateForm" class="form-horizontal">
      	    <!-- <div>
      		    <input id='id' type='hidden' name='id' readonly='true' >
      	    </div> --><!-- id -->
            <div class='form-group'>
              <label for="id" class="col-sm-3 control-label">编号</label>
              <div class="col-sm-7">
                  <input id="id" name="id" placeholder="" type="text" class="form-control" readonly>
              </div>
            </div>
            <div class='form-group'>
              <label for="idc_name" class="col-sm-3 control-label">机房名</label>
              <div class="col-sm-7">
                  <select id='idc_name' class='multiselect dropdown-toggle btn btn-default'>
                  </select>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class='form-group'>
              <label for="cabinet_id" class="col-sm-3 control-label">机柜ID</label>
              <div class="col-sm-7">
                  <select id='cabinet_id' class='multiselect dropdown-toggle btn btn-default'>
                  </select>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class='form-group'>
              <label for="location" class="col-sm-3 control-label">机柜位置</label>
              <div class="col-sm-7">
                  <input id="location" name="location" placeholder="" type="text" class="form-control">
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class='form-group'>
              <label for="ip_address" class="col-sm-3 control-label">IP地址</label>
              <div class="col-sm-7">
                  <input id="ip_address" name="ip_address" placeholder="" type="text" class="form-control" readonly>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
      	    <div class='form-group'>
          		<label for="hostname" class="col-sm-3 control-label">主机名<!-- <span class="red-fonts">*</span> --></label>
          		<div class="col-sm-7">
          		    <input id="hostname" name="hostname" placeholder="" type="text" class="form-control">
          		</div>
      	    </div>
            <div class="hr-line-dashed"></div>
            <div class='form-group'>
              <label for="os" class="col-sm-3 control-label">操作系统</label>
              <div class="col-sm-7">
                  <input id="os" name="os" placeholder="" type="text" class="form-control" >
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class='form-group'>
              <label for="brand" class="col-sm-3 control-label">机器品牌</label>
              <div class="col-sm-7">
                  <input id="brand" name="brand" placeholder="" type="text" class="form-control" >
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class='form-group'>
              <label for="model" class="col-sm-3 control-label">机器型号</label>
              <div class="col-sm-7">
                  <input id="model" name="model" placeholder="" type="text" class="form-control" >
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class='form-group'>
              <label for="cpu_num" class="col-sm-3 control-label">CPU数量</label>
              <div class="col-sm-7">
                  <input id="cpu_num" name="cpu_num" placeholder="" type="text" class="form-control" >
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class='form-group'>
              <label for="cpu_model" class="col-sm-3 control-label">CPU型号</label>
              <div class="col-sm-7">
                  <input id="cpu_model" name="cpu_model" placeholder="" type="text" class="form-control" >
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class='form-group'>
              <label for="memory" class="col-sm-3 control-label">内存</label>
              <div class="col-sm-7">
                  <input id="memory" name="memory" placeholder="" type="text" class="form-control" >
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class='form-group'>
              <label for="disk_info" class="col-sm-3 control-label">磁盘信息</label>
              <div class="col-sm-7">
                  <input id="disk_info" name="disk_info" placeholder="" type="text" class="form-control" >
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class='form-group'>
              <label for="total_disk" class="col-sm-3 control-label">磁盘总量</label>
              <div class="col-sm-7">
                  <input id="total_disk" name="total_disk" placeholder="" type="text" class="form-control" >
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class='form-group'>
              <label for="network_num" class="col-sm-3 control-label">网卡数量</label>
              <div class="col-sm-7">
                  <input id="network_num" name="network_num" placeholder="" type="text" class="form-control" >
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class='form-group'>
              <label for="network_model" class="col-sm-3 control-label">网卡型号</label>
              <div class="col-sm-7">
                  <input id="network_model" name="network_model" placeholder="" type="text" class="form-control" >
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class='form-group'>
              <label for="sys_kernel_version" class="col-sm-3 control-label">内核版本</label>
              <div class="col-sm-7">
                  <input id="sys_kernel_version" name="sys_kernel_version" placeholder="" type="text" class="form-control" >
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class='form-group'>
              <label for="sn_num" class="col-sm-3 control-label">SN编号</label>
              <div class="col-sm-7">
                  <input id="sn_num" name="sn_num" placeholder="" type="text" class="form-control" >
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class='form-group'>
              <label for="isVirtual" class="col-sm-3 control-label">虚拟主机</label>
              <div class="col-sm-7">
                  <input id="isVirtual" name="isVirtual" placeholder="" type="text" class="form-control" >
              </div>
            </div>
            <!-- <div class="hr-line-dashed"></div>
      	    <div class='form-group'>
          		<label for="lan_ip" class="col-sm-3 control-label">内网IP</label>
          		<div class="col-sm-7">
          		    <input id="lan_ip" name="lan_ip" placeholder="Lan ip" type="text" class="form-control" >
          		</div>
      	    </div>
      	    <div class="hr-line-dashed"></div>
      	    <div class='form-group'>
          		<label for="wan_ip" class="col-sm-3 control-label">外网IP</label>
          		<div class="col-sm-7">
          		    <input id="wan_ip" name="wan_ip" placeholder="Wan ip" type="text" class="form-control">
          		</div>
      	    </div> -->

      	    <div class="hr-line-dashed"></div>
      	    <div class='form-group'>
          		<label for="op" class="col-sm-3 control-label">运维负责人</label>
          		<div class="col-sm-7">
          		    <input id="op" name="op" placeholder="Operator" type="text" class="form-control">
          		</div>
      	    </div>
      	    <div class="hr-line-dashed"></div>
      	    <div class='form-group'>
      		    <label for="phone" class="col-sm-3 control-label">联系电话</label>
          		<div class="col-sm-7">
          		    <input id="phone" name="phone" placeholder="Phone" type="text" class="form-control">
          		</div>
      	    </div>
            <div class="hr-line-dashed"></div>
            <div class='form-group'>
              <label for="comments" class="col-sm-3 control-label">备注</label>
              <div class="col-sm-7">
                  <textarea name="comments" id="comments" rows="3" class="form-control"></textarea>
              </div>
            </div>
      	</form>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-default update-cancel" data-dismiss="modal">取消</button>
	<button type="button" class="btn btn-primary update-sure" data-name=''>确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div> <!--col-sm-12-->
<div class="modal fade" id='deleteModel'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title">删除</h4>
      </div>
      <div class="modal-body">
	<p>确认删除?</p>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	<button type="button" class="btn btn-primary del-sure" data-id=''>确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--col-sm-12-->
<div class="modal fade" id='detailModel'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title">详情</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3">编号: </div>
          <div class="col-sm-9 detail_id"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">机房名: </div>
          <div class="col-sm-9 detail_idc_name"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">机柜ID: </div>
          <div class="col-sm-9 detail_cabinet_id"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">机柜位置: </div>
          <div class="col-sm-9 detail_location"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">主机名: </div>
          <div class="col-sm-9 detail_hostname"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">操作系统: </div>
          <div class="col-sm-9 detail_os"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">机器品牌: </div>
          <div class="col-sm-9 detail_brand"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">机器型号: </div>
          <div class="col-sm-9 detail_model"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">CPU数量: </div>
          <div class="col-sm-9 detail_cpu_num"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">CPU型号: </div>
          <div class="col-sm-9 detail_cpu_model"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">内存: </div>
          <div class="col-sm-9 detail_memory"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">磁盘信息: </div>
          <div class="col-sm-9 detail_disk_info"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">磁盘总量: </div>
          <div class="col-sm-9 detail_total_disk"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">网卡数量: </div>
          <div class="col-sm-9 detail_network_num"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">网卡型号: </div>
          <div class="col-sm-9 detail_network_model"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">内核版本: </div>
          <div class="col-sm-9 detail_sys_kernel_version"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">SN编号: </div>
          <div class="col-sm-9 detail_sn_num"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">IP地址: </div>
          <div class="col-sm-9 detail_ip_address"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">虚拟主机: </div>
          <div class="col-sm-9 detail_isVirtual"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">运维负责人: </div>
          <div class="col-sm-9 detail_adminer"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">联系电话: </div>
          <div class="col-sm-9 detail_phone"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">更新时间: </div>
          <div class="col-sm-9 detail_update_time"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-sm-3">备注: </div>
          <div class="col-sm-9 detail_comments"></div>
        </div>
      </div>
      <div class="modal-footer text-center">
  <!-- <button type="button" class="btn btn-default update-cancel" data-dismiss="modal">取消</button> -->
  <button type="button" class="btn btn-primary datail-sure" data-name='' data-dismiss="modal">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
$('#updateForm').Validform({tiptype:3})

// $('.update').click(function(){
//     var id=$(this).attr('data-id')
//     var url = "/server_update_msg?id="+id
//     var str = ''

//     $.getJSON('/cabinet_msg',function(data){
//     	cabinets = data['result']
//     	for(var i=0;i<cabinets.length;i++){
//     	    str += '<option value="'+cabinets[i]['id']+'">'+cabinets[i]['name']+'</option>'
//     	    }
//     	$('#cabinet_id').html(str)

//     	$.getJSON(url,function(data){
//     	    if (data['code'] == 0){
//         		server = data['result']
//         		$('#id').val(server['id'])
//         		$('#hostname').val(server['hostname'])
//         		$('#lan_ip').val(server['lan_ip'])
//         		$('#wan_ip').val(server['wan_ip'])
//             // $("#cabinet_id").val(server['cabinet_id'])
//         		$("#cabinet_id option[value='"+server['cabinet_id']+"']").attr('selected',true)
//         		$('#op').val(server['op'])
//         		$('#phone').val(server['phone'])
//         		$('#cabinet_id').multiselect({
//         			    placeholder: "请选择",
//         			    enableCaseInsensitiveFiltering: true
//         			    })
//         		$('#cabinet_id').multiselect('refresh')
//     	    }else{
//     		    $('#errmsg').html('fail')
//     	    }
//     	})
//     //	$('#cabinet_id').multiselect({
//     //		    placeholder: "请选择",
//     //		    enableCaseInsensitiveFiltering: true
//     //		    })
//     //	$('#cabinet_id').multiselect('refresh')
//     })
//     $('#updateModel').modal('show')
// })
// 编辑
$.fn.serializeObject = function(){
  var o = {};
  var a = this.serializeArray();
  $.each(a, function() {
    if (o[this.name] !== undefined) {
      if (!o[this.name].push) {
        o[this.name] = [o[this.name]];
      }
      o[this.name].push(this.value || '');
    } else {
      o[this.name] = this.value || '';
    }
  });
  return o;
};
$('.update').click(function(){
  $('#updateModel').modal('show');
  var server_id = $(this).attr('data-id');
  $.ajax({
    method: "GET",
    url: "http://211.159.165.47:14320/api/v1/serverinfo/?id="+server_id,
    success: function(data){
      var result = data.result;
      $("#updateForm #id").val(result.id);
      // 机房
      // 机柜
      $("#updateForm #location").val(result.location);
      $("#updateForm #ip_address").val(result.ip_address);
      $("#updateForm #hostname").val(result.hostname);
      $("#updateForm #os").val(result.os);
      $("#updateForm #brand").val(result.brand);
      $("#updateForm #model").val(result.model);
      $("#updateForm #cpu_num").val(result.cpu_num);
      $("#updateForm #cpu_model").val(result.cpu_model);
      $("#updateForm #memory").val(result.memory);
      $("#updateForm #disk_info").val(result.disk_info);
      $("#updateForm #total_disk").val(result.total_disk);
      $("#updateForm #network_num").val(result.network_num);
      $("#updateForm #network_model").val(result.network_model);
      $("#updateForm #sys_kernel_version").val(result.sys_kernel_version);
      $("#updateForm #sn_num").val(result.sn_num);
      $("#updateForm #isVirtual").val(result.isVirtual);
      $("#updateForm #op").val(result.adminer);
      $("#updateForm #phone").val(result.phone);
      $("#updateForm #comments").val(result.comments);

      $("#updateModel .update-sure").click(function(){
          var strJson = $("#updateForm").serializeObject();
          $.ajax({
            method: "POST",
            url: "http://211.159.165.47:14320/api/v1/serverupdate/"+server_id,
            data: JSON.stringify(strJson),
            success: function(data){
              console.log(data);
            }
          })
      })
    }
  })
})
// 详情
$('.detail').click(function(){
  $('#detailModel').modal('show');
  var server_id = $(this).attr('data-id');
  $.ajax({
    method: "GET",
    url: "http://211.159.165.47:14320/api/v1/serverinfo/?id="+server_id,
    success: function(data){
      var result = data.result;
      $("#detailModel .detail_id").text(result.id);
      $("#detailModel .detail_idc_name").text(result.idc_name);
      $("#detailModel .detail_cabinet_id").text(result.cabinet_id);
      $("#detailModel .detail_location").text(result.location);
      $("#detailModel .detail_hostname").text(result.hostname);
      $("#detailModel .detail_os").text(result.os);
      $("#detailModel .detail_brand").text(result.brand);
      $("#detailModel .detail_model").text(result.model);
      $("#detailModel .detail_cpu_num").text(result.cpu_num);
      $("#detailModel .detail_cpu_model").text(result.cpu_model);
      $("#detailModel .detail_memory").text(result.memory);
      $("#detailModel .detail_disk_info").text(result.disk_info);
      $("#detailModel .detail_total_disk").text(result.total_disk);
      $("#detailModel .detail_network_num").text(result.network_num);
      $("#detailModel .detail_network_model").text(result.network_model);
      $("#detailModel .detail_sys_kernel_version").text(result.sys_kernel_version);
      $("#detailModel .detail_sn_num").text(result.sn_num);
      $("#detailModel .detail_ip_address").text(result.ip_address);
      $("#detailModel .detail_isVirtual").text(result.isVirtual);
      $("#detailModel .detail_adminer").text(result.adminer);
      $("#detailModel .detail_phone").text(result.phone);
      $("#detailModel .detail_update_time").text(result.update_time);
      $("#detailModel .detail_comments").text(result.comments);
    }
  })

})

// $('.update-sure').click(function(){
//     var str=$('#updateForm').serialize()
//     var str1='&cabinet_id='+$('#cabinet_id').val()
//     $.post('/server_update/',str+str1,function(data){
// 	   data=JSON.parse(data)
//     	if (data['code'] == 0){
//     	    swal({
//     		title:'Congratulation',
//     		text:data['result'],
//     		type:'success',
//     		confirmButtonText:'确定'
//     		},function(){
//     		    location.href='/server/'
//     		})
//     	}else{
//     	    swal('Error',data['errmsg'],'error')
//     	}
//     })
//     return false
// })

$('.del').click(function(){
    var id=$(this).attr('data-id')
    $('.del-sure').attr('data-id',id)
    $('#deleteModel').modal('show')

})

$('.del-sure').click(function(){
    var id=$(this).attr('data-id')
    var str="id="+id
    $.post('/server_delete/',str,function(data){
	swal({
	    title:'Congratulation',
	    text:'delete success!',
	    type:'success',
	    confirmButtonText:'确定'
	    },function(){
		location.href='/server/'
	    })
    })
})

$('#editable').DataTable({
    "bDestroy": true,
    "language": {
        "lengthMenu": "每页 _MENU_ 条记录",
        "zeroRecords": "没有找到记录",
        "sInfo": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 ),显示第 _START_ 至 _END_ 项(总共 _TOTAL_ 项)",
        "infoEmpty": "无记录",
        "infoFiltered": "(从 _MAX_ 条记录过滤)",
        "sSearch": "搜索:",
        "oPaginate": {
        "sFirst": "首页",
        "sPrevious": "上一页",
        "sNext": "下一页",
        "sLast": "末页"
        }
    },
    "order": [[ 0,"asc" ]]
})
</script>
{% endblock %}
